html,
body {
  height: 100%;
}

body {
  font-size: 15px;
  line-height: 18px;
  color: $default;
  background-color: $bg;
  @extend %montserrat-light;
}

.main {
  flex-grow: 1;
}

.site-container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 100%;
  min-height: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1085px;
}

.body--lock {
  overflow-y: hidden;
}

.title {
  font-size: 25px;
  color: $title;
  margin-bottom: 25px;
  line-height: 30px;
  @extend %montserrat-bold;
}


.burger {
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  width: 34px;
  height: 17px;
  background-color: transparent;
  cursor: pointer;

  &__line,
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    border-radius: 10px;
    width: 100%;
    height: 3px;
    background-color: $default;
    transition: transform ease 0.3s, opacity ease 0.3s;
  }

  &::after {
    top: auto;
    bottom: 0;
  }

  &__line {
    top: 7px;
  }

  &--active {
    &::before {
      bottom: 0;
      transform: rotate(-45deg);
      transition: transform ease 0.3s;
    }

    &::after {
      top: 0;
      transform: rotate(45deg);
      transition: transform ease 0.3s;
    }

    .burger__line {
      opacity: 0;
      transition: opacity ease 0.3s;
    }
  }
}

.mobile-menu {
  position: absolute;
  top: 131%;
  opacity: 0;
  visibility: hidden;

  &__item {
    display: none;
  }

  &__list,
  &__lang {
    display: none;
  }
}

.accent-input {
  border: none;
  border-radius: 12px;
  padding: 11px 11px 11px 45px;
  max-width: 200px;
  box-shadow: -10px -10px 30px #fff, 10px 10px 30px rgba(174, 174, 192, 0.4);
  background-color: $bg;
}

.accent-link {
  display: inline-block;
  border: 1px solid $title;
  border-radius: 12px;
  padding: 11px 31px;
  box-shadow: $box-shadow;
  color: inherit;
  cursor: pointer;
}

.card {
  width: 100%;
  display: block;
  max-width: 335px;
  min-height: 240px;
  padding: 17px 30px;
  background-color: $bg;
  box-shadow: $box-shadow;
  border-radius: 12px;

  &__img {
    max-width: 221px;
    height: 182px;
    margin: 0 auto;
  }

  &__title {
    display: block;
    font-size: 17px;
  }

  &__price {
    display: block;
    text-align: end;
  }
}

.info-block {
  padding: 20px 0 40px;

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    align-items: center;
    width: 25%;
    margin-bottom: 20px;
  }

  &__item-icon {
    width: 90px;
    height: 70px;
    margin-right: 10px;
  }

  &__item-text {
    max-width: 146px;
  }
}