html,
body {
  height: 100%;
}

body {
  font-size: 15px;
  line-height: 18px;
  color: $default;
  background-color: $bg;

  @extend %montserrat-light;
}

.main {
  flex-grow: 1;
}

.site-container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 100%;
  min-height: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1085px;
}

.body--lock {
  overflow-y: hidden;
}

.scroll-top {
  position: fixed;
  right: 15px;
  bottom: 50px;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: $title;

  &__icon {
    width: 25px;
    height: 25px;
    fill: #fff;
    transform: rotate(-180deg);
  }
}

.title {
  margin-bottom: 25px;
  font-size: 25px;
  line-height: 30px;
  color: $title;

  @extend %montserrat-bold;
}

.burger {
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  width: 34px;
  height: 17px;
  background-color: transparent;
  cursor: pointer;

  &__line,
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    border-radius: 10px;
    width: 100%;
    height: 3px;
    background-color: $default;
    transition: transform ease 0.3s, opacity ease 0.3s;
  }

  &::after {
    top: auto;
    bottom: 0;
  }

  &__line {
    top: 7px;
  }

  &--active {
    &::before {
      bottom: 0;
      transform: rotate(-45deg);
      transition: transform ease 0.3s;
    }

    &::after {
      top: 0;
      transform: rotate(45deg);
      transition: transform ease 0.3s;
    }

    .burger__line {
      opacity: 0;
      transition: opacity ease 0.3s;
    }
  }
}

.mobile-menu {
  position: absolute;
  top: 131%;
  opacity: 0;
  visibility: hidden;

  &__item {
    display: none;
  }

  &__list,
  &__lang {
    display: none;
  }
}

.accent-input {
  border: none;
  border-radius: 12px;
  padding: 11px 11px 11px 45px;
  max-width: 200px;
  box-shadow: -10px -10px 30px #fff, 10px 10px 30px rgba(174, 174, 192, 0.4);
  background-color: $bg;
}

.accent-link {
  display: inline-block;
  border: 1px solid $title;
  border-radius: 12px;
  padding: 11px 31px;
  max-width: 160px;
  box-shadow: $box-shadow;
  color: inherit;
  cursor: pointer;
}

.card {
  display: block;
  margin-right: 1%;
  margin-bottom: 20px;
  border-radius: 12px;
  padding: 17px 30px;
  width: 23.333%;
  min-height: 240px;
  box-shadow: $box-shadow;
  background-color: $bg;

  &__img {
    margin: 0 auto 7px;
  }

  &__title {
    display: block;
    margin-bottom: 5px;
    font-size: 17px;
  }

  &__price {
    display: block;
    text-align: end;
  }

  &__text {
    font-size: 10px;
  }

  &--news {
    &__title {
      margin-bottom: 10px;
      font-size: 20px;
    }

    &__time {
      display: block;
      margin-bottom: 10px;
      font-size: 10px;
      text-align: end;
    }
  }

  &--mugs {
    padding: 12px;

    .card {
      &__title {
        margin-bottom: 2px;
      }

      &__price {
        margin-bottom: 10px;
      }
    }

    &__text {
      font-size: 10px;
    }

    &__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__item {
      display: block;
      margin-bottom: 5px;
      border: none;
      border-radius: 5px;
      padding: 0;
      width: 25px;
      height: 25px;
      box-shadow: $box-shadow;

      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }
}

.info-block {
  padding: 20px 0 40px;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 25%;
  }

  &__item-icon {
    margin-right: 10px;
    width: 90px;
    height: 70px;
  }

  &__item-text {
    max-width: 146px;
  }
}

.stars {
  margin-left: -5px;
}

.review {
  border-radius: 12px;
  padding: 12px 14px;
  min-height: 320px;
  max-width: 335px;
  box-shadow: $box-shadow;
  background-color: $bg;

  &__info {
    display: flex;
    align-items: center;
    margin-bottom: 21px;
  }

  &__avatar {
    display: inline-block;
    overflow: hidden;
    margin-right: 25px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
  }

  &__avatar-img {
    object-fit: cover;
  }

  &__name {
    display: block;
    margin-bottom: 5px;
    font-size: 17px;
  }

  &__date {
    display: block;
    margin-bottom: 10px;
    font-size: 10px;
  }

  &__text {}
}

.quick-form {
  padding: 20px -15px;

  .error {
    font-size: 17px;
    color: red;
  }

  &__box {
    display: none;
  }

  &__items {
    width: 50%;
  }

  &__label {
    display: block;
    margin-bottom: 20px;
    width: 100%;
  }

  &__text {
    display: block;
    margin-bottom: 10px;
  }

  &__file {
    margin-bottom: 20px;
  }

  &__textarea {
    margin-bottom: 20px;
    height: 150px;
    resize: none;
  }

  &__btn {
    margin-bottom: 20px;
  }

  &__input,
  &__textarea {
    padding-left: 20px;
    width: 100%;
    max-width: none;
  }
}

.fancybox-can-swipe .fancybox-content,
.fancybox-can-pan .fancybox-content {
  cursor: default;
}

.section--decor {
  background:
    url("../images/content/category/decor--left.png") no-repeat center left,
    url("../images/content/category/decor--right.png") no-repeat center right;
  background-size: 30%;
}

.slider-syncing {
  max-width: 515px;

  &__for {
    margin-bottom: 20px;

    .slick-arrow {
      position: absolute;
      left: 15px;
      top: 50%;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      border-radius: 5px;
      padding: 0;
      width: 45px;
      height: 45px;
      background-color: $title;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-50%);
      transition: ease 0.3s opacity, ease 0.3s visibility, ease 0.3s background-color;
      cursor: pointer;

      svg {
        fill: #fff;
      }
    }

    .slick-prev {
      svg {
        transform: rotate(-180deg);
      }
    }

    .slick-next {
      left: auto;
      right: 15px;
    }

    &:hover {
      .slick-arrow {
        opacity: 1;
        visibility: visible;
        transition: ease 0.3s opacity, ease 0.3s visibility;

        &:hover {
          background-color: #31353a;
          transition: ease 0.3s background-color;
        }
      }

      .slick-disabled {
        opacity: 0.3;
        cursor: default;
        pointer-events: none;
      }
    }
  }

  &__nav {
    margin: 0 -10px;

    .slick-current {
      .slider-syncing {
        &__nav-img {
          border: 2px solid $title;
        }
      }
    }
  }

  &__nav-item {
    padding: 0 10px;
    cursor: pointer;
  }

  &__nav-img {
    border: 2px solid transparent;
  }
}