@media (any-hover: hover) {
  .header {
    &__info-link {
      transition: ease 0.3s color;

      &:hover {
        color: $title;
        transition: ease 0.3s color;
      }
    }

    &__info-menu__text,
    &__info-menu__link {
      &:hover {
        color: $title;
        transition: ease 0.3s color;
      }
    }
  }

  .accent-link {
    transition: ease 0.3s background-color, ease 0.3s color;

    &:hover {
      color: #fff;
      background-color: $title;
      transition: ease 0.3s background-color, ease 0.3s color;
    }
  }

  .menu {
    &__list-link {
      &:hover {
        color: $title;
        transition: ease 0.3s color;
      }
    }
  }

  .card {
    &__img {
      transition: ease 0.3s transform;
    }

    &:hover {
      .card__img {
        transform: translateY(-4px);
        transition: ease 0.3s transform;
      }
    }
  }

  .footer {

    &__list-link,
    &__accent-link {
      &:hover {
        color: $title;
        transition: ease 0.3s color;
      }
    }
  }
}

@include laptop-L {
  .header {
    &__action-items {
      flex-wrap: wrap;
      justify-content: flex-end;
      max-width: 250px;
    }

    &__info-link {
      &:not(:last-child) {
        margin-right: 15px;
      }

      &--marker {
        margin-bottom: 10px;
        color: inherit;
      }
    }
  }

  .menu {
    &__list-item {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  .popular {
    &__control {}

    &__control-tab {
      margin-right: 20px;

      +.popular__control-tab {
        margin-left: 0;
      }
    }
  }

  .section--decor {
    background: none;
  }

  .books {
    &__control-box {
      display: block;
    }

    &__control-input {
      max-width: none;
    }

    &__control-link {
      margin-right: 10px;
      margin-bottom: 15px;
    }
  }
}

@media (min-width: 992px) {
  .submenu {
    &__item {
      &:hover {
        color: #fff;
        background-color: $title;
        transition: ease 0.3s color, ease 0.3s background-color;

        >.sub-sub-menu {
          opacity: 1;
          visibility: visible;
          transition: ease 0.3s opacity, ease 0.3s visibility;
        }
      }
    }
  }

  .dropdown-item {
    &:hover {
      >.submenu {
        opacity: 1;
        visibility: visible;
        transition: ease 0.3s opacity, ease 0.3s visibility;
      }
    }
  }
}

@include laptop {
  .mobile-menu {
    overflow-y: auto;
    width: 60vw;
    height: 60vh;
    background-color: #31353a;

    &__lang {
      display: block;
      padding: 15px 15px 20px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #fff;
    }

    &__lang-text {
      color: #fff;
    }

    &__lang-items {
      display: flex;
      flex-wrap: wrap;
    }

    &__lang-item {
      margin-left: 15px;
    }

    &__lang-link {
      display: inline-block;
    }

    &__lang-link--active {
      border: 1px solid #26580f;
    }

    &__item {
      padding: 10px 15px;
      display: block;
      color: #fff;
    }

    &__text {
      color: #fff;
    }

    &__list {
      display: block;
      padding: 15px 15px 20px;
      border-bottom: 1px solid #fff;
    }

    &__list-item {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    &__list-link {
      position: relative;
      padding-left: 20px;
      display: inline-block;
      color: #fff;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 1px;
        width: 16px;
        height: 16px;
        background-repeat: no-repeat;
        background-size: cover;
      }

      &--active {
        border: 1px solid $title;
      }

      &--cart {
        &::before {
          background-image: url('../images/icons/multi/spriteMulti.svg#basket');
        }
      }

      &--login {
        &::before {
          background-image: url('../images/icons/multi/spriteMulti.svg#key');
        }
      }

      &--reg {
        &::before {
          background-image: url('../images/icons/multi/spriteMulti.svg#user');
        }
      }

      &--marker {
        &::before {
          background-image: url('../images/icons/multi/spriteMulti.svg#nav-marker');
        }
      }

      &--tel {
        &::before {
          background-image: url('../images/icons/multi/spriteMulti.svg#phone');
        }
      }

      &--wallet {
        &::before {
          background-image: url('../images/icons/multi/spriteMulti.svg#wallet');
        }
      }

      &--question {
        &::before {
          background-image: url('../images/icons/multi/spriteMulti.svg#question');
        }
      }
    }
  }

  .menu {
    &__list {
      display: none;
    }
  }

  .submenu {
    box-shadow: none;
  }

  .header {
    &__action {
      justify-content: space-between;
    }

    &__action-box {
      display: none;
    }

    &__action-mess {
      display: block;
    }

    &__action-mess__icon {
      width: 30px;
      height: 30px;
      fill: $title;
      transform: rotate(270deg);
    }

    &--fixed {
      .submenu {
        &__item {
          padding: 0;
          background-color: transparent;

          &:not(:last-child) {
            margin-bottom: 10px;
          }
        }

        &__item-text {
          position: relative;
          margin-bottom: 15px;
          padding: 15px 35px 15px;

          &::before {
            content: '';
            position: absolute;
            left: 15px;
            width: 16px;
            height: 16px;
            top: 15px;
            background-repeat: no-repeat;
            background-size: cover;
          }

          &::after {
            right: 10px;
            transform: translateY(-50%) rotate(90deg);
          }

          &--active {
            background-color: $title;

            &::after {
              transform: translateY(-50%) rotate(-90deg);
            }
          }

          &--photos {
            &::before {
              background-image: url('../images/icons/multi/spriteMulti.svg#photos');
            }
          }

          &--photobooks {
            &::before {
              background-image: url('../images/icons/multi/spriteMulti.svg#photo-books');
            }
          }

          &--wallprints {
            &::before {
              background-image: url('../images/icons/multi/spriteMulti.svg#wallprints');
            }
          }

          &--calendar {
            &::before {
              background-image: url('../images/icons/multi/spriteMulti.svg#calendar');
            }
          }

          &--gifts {
            &::before {
              background-image: url('../images/icons/multi/spriteMulti.svg#gifts');
            }
          }

          &--promo {
            &::before {
              background-image: url('../images/icons/multi/spriteMulti.svg#promo-materials');
            }
          }

          &--outdoor {
            &::before {
              background-image: url('../images/icons/multi/spriteMulti.svg#outdoor-printing');
            }
          }
        }
      }

      .sub-sub-menu {
        display: none;
        padding: 0;
        position: static;
        opacity: 1;
        visibility: visible;
        width: 100%;
        height: auto;
        background-color: transparent;
        box-shadow: none;

        &__list {
          column-count: 1;
        }

        &__list-text {
          color: inherit;
          font-size: 13px;
        }

        &__caption {
          display: none;
        }

        &__list-link {
          padding-left: 15px;
          color: #fff;
          text-align: start;
        }
      }
    }
  }

  .popular {
    &__content-item {
      width: 32.333%;

      &:nth-child(4n) {
        margin-right: 1%;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }

  .feedback {
    &__item {
      width: 49%;

      &:nth-child(2n) {
        margin-right: 0;
      }

      &:nth-child(3n) {
        margin-right: 1%;
      }
    }
  }

  .quick-form {
    &__box {
      width: 80vw;
      padding: 15px 20px;
    }
  }

  .card {
    width: 32.333%;
  }

  .first__card {
    width: 223px;
  }

  .mugs {
    &__info {
      max-width: 50%;
    }
  }

  .books {
    &__slider {
      margin: 0 auto 20px;
    }

    &__inner {
      display: block;
    }

    &__for-img {
      margin: 0 auto;
    }

    &__control {
      max-width: 100%;
    }
  }
}

@include tablet-L {
  .footer {
    background-color: #e6e6e6;
    padding: 20px 0;

    &__decor {
      display: none;
    }

    &::before,
    &::after {
      display: none;
    }

    &__box {
      width: 50%;
    }

    &__box-form {
      order: -1;
      width: 100%;
      margin-bottom: 20px;
    }
  }

  .first {
    padding: 30px 0;

    &__img {
      display: none;
    }

    &__info {
      margin-right: 0;
      width: 100%;
    }

    &__title {
      font-size: 25px;
    }

    &__link {
      margin-bottom: 30px;
    }
  }

  .info-block {
    &__item {
      width: 33.333%;
    }
  }

  .news {
    &__item {
      margin-right: 1%;
      width: 49%;

      &:nth-child(2n) {
        margin-right: 0;
      }

      &:nth-child(3n) {
        margin-right: 1%;
      }
    }
  }

  .card {
    padding: 10px 15px;
    width: 49%;
  }

  .contacts {
    &__inner {
      display: block;
    }

    &__info {
      margin-right: 0;
      margin-bottom: 20px;
    }

    &__info,
    &__box {
      width: 100%;
    }
  }

  .quick-form {
    &__content {}

    &__items {
      width: 100%;
    }

    &__file {
      width: 221px;
    }
  }

  .mugs {
    padding: 30px 0;

    &__info {
      max-width: 100%;
    }

    &__inner {
      display: block;
    }
  }

  .slider-syncing {
    &__for-img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }

    &__nav-item {
      padding: 0;
    }

    &__nav-img {
      height: 100px;
      object-fit: cover;
      margin: 0 auto;
    }
  }

  .books {
    &__slider {
      max-width: none;
    }
  }
}

@include tablet {
  .mobile-menu {
    width: 100%;
    height: 70vh;
  }

  .popular {
    &__content-item {
      width: 49%;

      &:nth-child(odd) {
        margin-right: 1%;
      }

      &:nth-child(4n),
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
}

@include portrait-phones {
  .footer {
    &__list {
      display: none;
    }

    &__title {
      font-size: 18px;
      position: relative;
      cursor: pointer;

      &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        width: 18px;
        height: 18px;
        transform: translateY(-50%);
        background-image: url('../images/icons/multi/spriteMulti.svg#angle-down--title');
        background-repeat: no-repeat;
        background-size: 100%;
      }

      &--active {
        &::after {
          transform: translateY(-50%) rotate(-180deg);
        }
      }
    }

    &__form-input {
      margin: 0;
      margin-bottom: 10px;
      width: 100%;
      max-width: none;
    }

    &__box {
      width: 100%;
      text-align: start;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  .info-block {
    padding: 20px 0;

    &__inner {}

    &__item {
      display: block;
      text-align: center;
      width: 100%;
    }

    &__item-icon {
      margin-right: 0;
      margin-bottom: 10px;
    }

    &__item-text {
      max-width: none;
      margin: 0 auto;
    }
  }

  .popular {
    &__control-tab {
      &:not(:last-child) {
        margin-right: 15px;
      }
    }

    &__content-item {
      width: 100%;
      max-width: none;

      &:nth-child(odd) {
        margin-right: 0;
      }
    }
  }

  .feedback {
    &__item {
      width: 100%;
      max-width: none;

      &:nth-child(2n),
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }

  .review {
    &__avatar {
      margin-right: 10px;
    }
  }

  .news {
    &__item {
      margin-right: 0;
      width: 100%;
      max-width: none;

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }

  .contacts {
    &__form-items {
      display: block;
    }

    &__form-elements {
      display: block;
    }

    &__form-caption {
      max-width: none;
      margin-bottom: 15px;
    }
  }

  .card {
    margin-right: 0;
    width: 100%;
  }

  .category__inner,
  .mugs__catalog-inner {
    margin-right: 0;
  }

  .slider-syncing {
    &__nav-img {
      height: 90px;
    }

    &__for {
      .slick-arrow {
        display: none;
      }
    }
  }

  .books {
    &__control-items {
      display: block;
    }

    &__catalog {
      padding-top: 20px;
    }

    &__catalog-title {
      font-size: 20px;
    }

    &__control-price {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}

@include mobile-L {
  .portfolio {
    &__slider-img {
      width: 100%;
    }
  }
}