@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";
@import "components/header";
@import "components/footer";

.category {
  padding: 20px 0;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: -1%;
  }
}

@import "media";