@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
@import 'components/header';
@import 'components/footer';

.category {
  padding: 20px 0;
  background:
    url('../images/content/category/decor--left.png') no-repeat center left,
    url('../images/content/category/decor--right.png') no-repeat center right;
  background-size: 30%;

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: -1%;
  }
}

@import 'media';