@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "node_modules/slick-carousel/slick/slick.scss";
@import "global";
@import "components/header";
@import "components/footer";

.mugs {
  padding: 75px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__slider {
    margin-right: 25px;
    min-width: 0;
  }

  &__info {
    flex-shrink: 1;
    max-width: 515px;
  }

  &__info-text {
    margin-bottom: 28px;
  }

  &__info-link {
    margin-bottom: 20px;

    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  &__catalog {
    padding-top: 50px;
  }

  &__catalog-inner {
    display: flex;
    flex-wrap: wrap;
    margin-right: -1%;
  }
}

@import "media";