@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import '../../node_modules/rateyo/src/jquery.rateyo';
@import 'node_modules/slick-carousel/slick/slick.scss';

@import 'global';
@import 'components/header';
@import 'components/footer';

.first {
  padding: 58px 0 80px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    flex-shrink: 1;
    margin-right: 4%;
  }

  &__title {
    font-size: 30px;
  }

  &__list {
    margin-bottom: 23px;
  }

  &__list-item {
    position: relative;
    padding-left: 20px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 3px;
      width: 10px;
      height: 10px;
      border-radius: 3px;
      background: $title;
      box-shadow: $box-shadow;
    }

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__link {
    margin-bottom: 69px;
  }

  &__img {
    flex-shrink: 1;
    align-self: flex-end;
  }
}

.popular {

  &__control {
    display: flex;
    margin-bottom: 30px;
  }

  &__control-tab {
    font-size: 17px;

    +.popular__control-tab {
      margin-left: 37px;
    }

    &--active {
      @extend %montserrat-regular;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
  }

  &__content-item {
    width: 23%;
    margin-right: 1%;
    margin-bottom: 20px;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

.feedback {
  padding: 20px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 33.333%;
  }
}

.portfolio {
  position: relative;
  padding: 25px 0;

  &__decor--1,
  &__decor--2 {
    display: block;
    position: absolute;
    height: 320px;
    width: 100%;
    z-index: -1;
    object-fit: cover;
  }

  &__decor--1 {
    top: 0;
  }

  &__decor--2 {
    top: auto;
    bottom: 0;
  }

  .slick-slide {}

  &__slider {
    margin: 0 -15px -20px;
  }

  &__slider-item {
    padding: 0 15px 20px;
  }

  &__slider-link {
    display: block;
  }

  &__slider-img {
    border-radius: 10px;
  }

  .slick-dots {
    display: flex;
    justify-content: center;

    button {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #dbdbdb;
      font-size: 0;
      line-height: 0;
      border: none;
      cursor: pointer;
    }

    li+li {
      margin-left: 5px;
    }
  }

  .slick-active {
    button {
      background-color: $title;
    }
  }
}

.news {
  padding: 20px 0;

  &__item {
    width: 33.333%;
    margin-right: 1%;
    margin-bottom: 20px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.contacts {
  padding: 20px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    width: 50%;
    flex-shrink: 1;
    margin-right: 3%;
  }

  &__info-item {
    display: block;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__info-box {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  &__info-icon {
    width: 91px;
    height: 70px;
    margin-right: 10px;
  }

  &__info-caption {
    font-size: 20px;
  }

  &__info-text {}

  &__box {
    flex-shrink: 1;
    width: 50%;
  }

  &__form {
    width: 100%;
  }

  &__form-label {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }

  &__form-text {
    margin-bottom: 5px;
    display: block;
  }

  &__form-input,
  &__form-textarea {
    display: block;
    padding-left: 10px;
    width: 100%;
    max-width: none;
  }

  &__form-items {
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
  }

  &__form-textarea {
    height: 150px;
    resize: none;
  }

  &__form-caption {
    font-size: 10px;
    max-width: 335px;
  }

  &__form-elements {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  &__form-btn {}
}


@import 'media';