<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__box">
        <h5 class="footer__title">
          Help
        </h5>
        <ul class="footer__list">
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">
              Payments and delivery
            </a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">
              Help & Information
            </a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">
              Requirements for Designs
            </a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">
              Our Work
            </a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">
              Client Reviews
            </a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">
              Latest News
            </a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">
              Terms of Service
            </a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">
              Requisites
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__box">
        <h5 class="footer__title">
          Services
        </h5>
        <ul class="footer__list">
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">
              Photo Prints
            </a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">
              Photo Books Printing
            </a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">
              Wall Prints
            </a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">
              Calendar Printing
            </a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">
              Gift Printing
            </a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">
              Promo Materials
            </a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">
              Outdoor Printing
            </a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">
              Printing Services
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__box footer__box-form">
        <form class="footer__form" action="#">
          <label class="footer__form-label">
            <p class="footer__form-text">
              Subscribe to our news
            </p>
            <input class="footer__form-input accent-input" type="email" placeholder="Your email">
          </label>
          <button class="footer__form-btn accent-link" type="submit">
            Subscribe
          </button>
        </form>
        <div class="footer__box-info">
          <h5 class="footer__title">
            Services
          </h5>
          <ul class="footer__list">
            <li class="footer__list-item">
              <a class="footer__accent-link footer__accent-link--marker" href="#">
                Photo Prints
              </a>
            </li>
            <li class="footer__list-item">
              <a class="footer__accent-link footer__accent-link--email" href="#">
                Photo Books Printing
              </a>
            </li>
            <li class="footer__list-item">
              <a class="footer__accent-link footer__accent-link--phone" href="#">
                Wall Prints
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>